
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content #toctitle {
  margin-bottom: 0.5em;
}

.main-content .options-table td {
  vertical-align: top;
}

.main-content .options-table th {
  display: none;
}

div.site-header sup {
  background: red;
  font-size: 12px;
  padding: 2px 4px 1px;
  line-height: 14px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

.site-title {
  font-weight: bold;
  font-family: sans-serif;
}

.nav-list .nav-list-item .nav-list-link.active {
  color: red;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link.active {
  color: red;
}

.main-content h1:first-of-type {
  border-bottom: 2px solid red;
}

.main-content h1#build-with-mush:first-of-type {
  border-bottom: none;
}

a {
  color: #483D8B;
}
